[project]
	description = practice application for learning basic android development: contains code for an application that teaches users about wine.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rsilverst
[access "refs/for/refs/*"]
	read = group user/rsilverst
	push = group user/rsilverst
	label-Code-Review = -2..+2 group user/rsilverst
	label-Verified = -1..+1 group user/rsilverst
	rebase = group user/rsilverst
	removeReviewer = group user/rsilverst
	submit = group user/rsilverst
[access "refs/heads/*"]
	read = group user/rsilverst
	create = group user/rsilverst
	push = +force group user/rsilverst
	pushMerge = group user/rsilverst
[access "refs/tags/*"]
	push = group user/rsilverst
	push = +force group user/rsilverst
